// This file contains global styles for the application.
@use './variables.module.scss' as *;


.grecaptcha-badge {
  position: fixed !important;
  right: 0px !important;
  bottom: calc(#{$footer-height} + 5px) !important;
  width: calc(#{$side-gap} - #{$scrollbar-width}) !important;           /* eingeklappt */
  overflow: hidden !important;      /* Text abschneiden */
  transition: width 0.3s ease !important;
  z-index: 1000; 
}

.grecaptcha-badge:hover {
  width: 256px !important;          /* ausgeklappt bei Hover */
}

// Mobile Viewport
@media screen and (max-width: $travel-map-image-min-width) {
  .grecaptcha-badge{
    width: calc(2*#{$scrollbar-width}) !important; 
  }
}


html,
body {
  overflow-x: hidden;
  font-family: $font-oranienbaum;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  min-width: $min-width;
  min-height: 100vh;
  color: $foreground-color-global;
  background: $background-color-global;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  top: 0;
  max-width: $max-width;
  min-width: $min-width;
  grid-row-start: 1;
  align-items: center;
  width: $header-width;
  height: $header-height;
  z-index: 10;
}

.header-underline {
  max-width: calc(#{$max-width} - 2*#{$side-gap} - #{$scrollbar-offset});
  min-width: calc(#{$min-width} - 2*#{$side-gap} - #{$scrollbar-offset});
  width: calc(#{$header-width} - 2*#{$side-gap} - #{$scrollbar-offset});
  padding-right: calc(#{$side-gap} - #{$scrollbar-width});
  height: $header-underline-height;
  background: #000;
  margin-left: $side-gap;
}

.root-page {
  display: grid;
  grid-template-rows: $header-height 1fr $footer-height;
  min-width: $min-width;
  width: 100%;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  min-height: $root-page-min-height;
  padding: $root-page-padding;
  gap: $root-page-gap;
}

.main-content {
  display: flex;
  max-width: $max-width;
  flex-direction: column;
  grid-row-start: 2;
  overflow-y: auto;        // Ermöglicht Scrollen innerhalb des Hauptbereichs
  scroll-snap-type: none;  // Aktiviert Snap-Scrolling für Sektionen
  height: $main-content-height;
  min-width: $min-width;
  width: calc(#{$root-page-min-width} - 2*#{$root-page-padding});
  padding-left: $side-gap;
  padding-right: calc(#{$side-gap} - #{$scrollbar-width});
  gap: $root-page-gap;

  // Für Safari und ältere Browser
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; // Aktiviert sanftes Scrollen

  &::-webkit-scrollbar {
    // Scrollbalken
    width: $scrollbar-width;
    background-color: transparent;
    // Safari-Fix: Explizite Höhe setzen
    height: 100%;
  }  

  &::-webkit-scrollbar-thumb {
    // Scrollbalken-Farbe
    background-color: transparent;
    border-radius: 10px;
    // Safari-Fix: Entferne Standard-Border
    border: none;
    // Safari-Fix: Verhindere Standard-Styling
    -webkit-appearance: none;
  }

  // Scrollbar beim Hovern über den Container anzeigen
  &:hover {    
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4);

      &:hover {
        background-color: $third-color-global; // Farbe beim Hover
      }
    }
  }
}

// Footer Styles
footer {
  bottom: 0;
  max-width: calc(#{$max-width} - 2*#{$side-gap});
  width: calc(#{$header-width} - 2*#{$side-gap});       /* gewünschte Länge */
  grid-row-start: 3;
  display: flex;
  flex-direction: row;
  height: $footer-height;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: $font-size-footer;
  }
}

// Mobile Viewport
@media screen and (max-width: 1400px) {
  .main-content {
    padding-right: $side-gap;
    padding-left: $side-gap;
  }
}

@media screen and (min-width: 1700px) {
  .grecaptcha-badge {
    width: 70px !important;
  }
}



