// This file contains global styles for the application.
@import './variables.scss';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $foreground-color-global;
  background: $background-color-global;
  font-family: $font-oranienbaum;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

