@import './variables.module.scss';

$font-oranienbaum: var(--font-oranienbaum);

.page {
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: $font-oranienbaum, sans-serif;
}

@media (prefers-color-scheme: dark) {
  .page {
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;

  h1 {
    font-size: $font-size-header;
    font-weight: 300;
  }

}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;

  p{
    font-size: large;
    text-align: center;
  }
}



