// @import './variables.scss';
@use './variables.scss' as *;


.section {
  min-height: 100%; // Ändere height zu min-height
  height: $main-content-height; // Füge eine explizite Viewport-Höhe hinzu
  flex-shrink: 0; // Verhindert, dass Sections schrumpfen
  scroll-snap-align: start; // Aktiviert Snap-Scrolling für diese Sektion
  display: flex;
  flex-direction: column;
  
  h1 {
    font-size: $font-size-h1;
  }
}


// Mobile Viewport
// tbd
@media screen and (max-width: 768px) {
  .page {
    gap: 15px;
  }
}


