@use './variables.module.scss' as *;

@mixin vertical-margins {
  height: auto;
  min-height: auto;
}

.section {
  min-height: 100%;
  max-height: $main-content-height; // Füge eine explizite Viewport-Höhe hinzu
  height: auto;
  width: 100%;
  flex-shrink: 0; // Verhindert, dass Sections schrumpfen
  scroll-snap-align: start; 
  display: flex;
  flex-direction: column;
  font-family: $font-oranienbaum;
  
  &.responsiveHeight {
    @media (max-width: 1024px), (min-width: 1920px) {
      @include vertical-margins;
    }
  }

  h1 {
    font-size: $font-size-h1;
    text-align: center;
    margin: $margin-top-h1 0;
  }
}

// Mobile Viewport
@media screen and (max-width: 768px) {
  .page {
    gap: $root-page-gap;
  }
}


