@use './variables.module.scss' as *;

.section {
  min-height: 100%; // Ändere height zu min-height
  height: $main-content-height; // Füge eine explizite Viewport-Höhe hinzu
  width: 100%;
  flex-shrink: 0; // Verhindert, dass Sections schrumpfen
  scroll-snap-align: start; // Aktiviert Snap-Scrolling für diese Sektion
  display: flex;
  flex-direction: column;
  font-family: $font-oranienbaum;
  
  h1 {
    font-size: $font-size-h1;
    text-align: center;
    margin-top: $margin-top-h1;
  }
}

// Mobile Viewport
@media screen and (max-width: 768px) {
  .page {
    gap: $root-page-gap;
  }
}


