// Globale Farben
$background-color-global: rgba(243, 239, 228, 1);
$foreground-color-global: #171717;
$third-color-global: rgba(159, 145, 100, 0.8);

// Schriftgrößen
$font-size-header: 1.3rem;
$font-size-footer: 1rem;
$font-size-blog-title: 1.25rem;
$font-size-blog-text: 0.9rem;
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.1rem;
$font-weight-global: 600;

// Globale Schriftarten
$font-oranienbaum: var(--font-oranienbaum, sans-serif);

// Abmessungen der Abschnitte
$max-width: 1440px;               // Maximale Breite für große Bildschirme
$min-width: 360px;                // Minimale Breite für kleine Bildschirme
$root-page-min-height: 100svh;
$root-page-padding: 0px;
$root-page-gap: 3px;
$root-page-min-width: 100vw;
$footer-height: 40px;
$side-gap: 5vw;
$header-height: 60px;
$header-underline-height: 1.5px;
$header-width: calc(#{$root-page-min-width} - 2*#{$root-page-padding});
$footer-width: calc(#{$header-width} - 2*#{$side-gap});
$main-content-height: calc(#{$root-page-min-height} - #{$header-height} - #{$footer-height} - 2*#{$root-page-gap} - 2*#{$root-page-padding});
$nav-bar-gap: 40px;
$border-width-global: 1.5px;
$scrollbar-width: 6px;
$scrollbar-offset: 0px; // Offset wegen des Scrollbalkens
$button-border-radius: 12px;
$margin-top-h1: 20px;

// Globale z-Ebenen
$search-field-z-index: 1000;
$mobile-menu-bar-z-index: calc(#{$search-field-z-index} - 10);

// Animation
$search-field-transition-duration: 0.5s;
$menu-bar-transition-duration: 0.35s;

// Fallbacks für Padding
$padding-fallbacks: 32px;

// Schwellenwerte für responsive Design
$small-mobile-width: 420px;
$mobile-header-width: 720px;
$tablet-mini-threshold-max-width: 768px;
$tablet-threshold-max-width: 1023px;
$desktop-threshold-max-width: 1920px;
$travel-map-image-min-width: 1024px;

// Blog-Cards
$card-gap: 0.8rem;
$min-card-width: 240px;

// *** Export der Variablen für TypeScript ***
:export {
    headerHeight: $header-height;
    searchFieldTransitionDuration: $search-field-transition-duration;
    appMaxWidth: $max-width;
    mobileHeaderWidth: $mobile-header-width;
    rootPageGap: $root-page-gap;
    minCardWidth: $min-card-width;
    travelMapImgMinWidth: $travel-map-image-min-width;
}