@use '../variables.module.scss' as *;

$profile-image-size: 240px;
$title-image-height: calc(30% + $profile-image-size/2);
$mobile-margin: calc((100% - #{$profile-image-size * 0.8})*0.5);
$description-text-width-percent: 75%;

.aboutPageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;          // nutzt volle Höhe der Section
  overflow: hidden;      // vermeidet Scrollbalken durch absolute Elemente
  gap: 1.5rem;       // vertikaler Abstand zwischen Header & Content
}

.titleImageContainer {
  position: relative;
  width: 100%;
  height: $title-image-height; // endet auf halber Profilbild-Höhe
  overflow: hidden;         // alles Überstehende abschneiden

  .titleImage {
    object-fit: cover;
  }
}

.profileImageContainer {
  position: absolute;
  bottom: calc($title-image-height - $profile-image-size/2);

  width: $profile-image-size;
  height: $profile-image-size;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid $background-color-global;
  background-color: $background-color-global;
  z-index: 2;
  left: 2rem;

  @media (max-width: $smartphone-threshold-max-width) {
    width: $profile-image-size * 0.8;
    height: $profile-image-size * 0.8;
    bottom: calc(50% - ($profile-image-size/2));
    left: $mobile-margin;
    right: $mobile-margin;
  }
  .profileImage {
    object-fit: cover;
  }
}

.descriptionContainer {
  flex: 1;                               // nimmt den restlichen Platz
  padding: 0 5px 0 10px;

  overflow-y: auto;
  width: $description-text-width-percent;
  margin-left: calc(100% - #{$description-text-width-percent});
  max-height: calc(100vh - 50vh - 3rem);
  scroll-behavior: smooth;

    &::-webkit-scrollbar {
        // Scrollbalken
        width: $scrollbar-width; // Breite des Scrollbalkens
        background-color: transparent;
        // Safari-Fix: Explizite Höhe setzen
        height: 100%;
    }  

    &::-webkit-scrollbar-thumb {
        // Scrollbalken-Farbe
        background-color: transparent;
        border-radius: 10px;
        // Safari-Fix: Entferne Standard-Border
        border: none;
        // Safari-Fix: Verhindere Standard-Styling
        -webkit-appearance: none;
    }

    // Scrollbar beim Hovern über den Container anzeigen
    &:hover {    
        &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);

        &:hover {
            background-color: $third-color-global; // Farbe beim Hover
        }
        }
    }
}