.blogPostContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.blogPost {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    gap: 25px;
}

