@use '../variables.module.scss' as *;

.blogPostCard{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: .2em;
    scroll-snap-align: start;
    border: 2px solid black;
    
}