@use '../variables.module.scss' as *;

$y-offset: 50px;
$animatio-duration: 0.5s;

@keyframes slideInUp {
  0% {
    transform: translateY($y-offset);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.blogPostCard{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: .2em;
    scroll-snap-align: start;
    border: 2px solid black;
    opacity: 0;

    &.runAnimation {
      animation: slideInUp $animatio-duration ease-out forwards;
      animation-delay: calc(var(--animation-order, 1) * 0.1s);
  }
}

