@use '../variables.module.scss' as *;

.footerContainer {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color-global;
    color: $foreground-color-global;
    max-height: $footer-height;
    height: $footer-height;
    width: $footer-width;
    font-family: inherit;
}

.footerLink {
    color: $foreground-color-global;
    text-decoration: none;
    font-size: $font-size-footer;
    font-weight: $font-weight-global;
    transition: color 0.3s ease;


    &:hover {
        color: $third-color-global;
        text-decoration: underline;
    }
}

.iconContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 5px;
}