.genericButton{
    margin-top: 24px;
    padding: 8px 24px;
    border-radius: 5px;
    background: #222;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;

    .genericButton:hover {
        background: #444;
    }
    
    .genericButton:active {
        scale: 0.95;
    }

    span {
        display: 'inline-flex';
        align-items: 'center';
        margin-left: 8px;
    }
  }
