@use '../variables.module.scss' as *;

$loader-logo-size: 100px; // Größe des Logos
$loader-size: calc(#{$loader-logo-size} + 10px); // Größe des Loaders

.customLoader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  z-index: 1000;
}

.spinner {
  position: absolute;
  width: $loader-size;
  height: $loader-size;
  border: 5px solid #e0e0e0;
  border-top: 5px solid $third-color-global;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1;
}

.logoWrapper {
  position: absolute;
  width: $loader-logo-size;
  height: $loader-logo-size;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

@keyframes spin {
  0%   { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

:export {
  customLoaderLogoSize: $loader-logo-size;
  customLoaderSize: $loader-size;
}