@use '../variables.module.scss' as *;

.popup {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 420px;
    // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    font-size: $font-size-h3;
    background-color: rgba(41, 41, 41, 0.9);
    font-family: inherit;
    text-align: center;
    text-justify: inter-word;
  }
  
  .popup.show {
    bottom: calc(#{$footer-height} + 10px);
    opacity: 1;
  }
  
  .popup.hide {
    bottom: -100px;
    opacity: 0;
  }

  @media (max-width: 360px) {
    .popup {
      padding: 12px 16px;
      max-width: 350px;
    }
  }