@use '../variables.module.scss' as *;

.searchResultsNotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}


.foundBlogPostsContainer{
    max-width: 100%;
    max-height: 100%;

    &.singleCard {
        max-width: 40%;
        margin: 1rem 0;
    }
}