@use '../variables.module.scss' as *;

$margin-top-offset: 0px;
$max-heigth-offset: 0px;

.searchResultsNotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.searchResultsBoard {
    display: flex;
    max-height: calc($main-content-height + $margin-top-offset);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: $margin-top-offset;
}

.foundBlogPostsContainer{
    max-height: calc($main-content-height - $max-heigth-offset);
    display: grid;
    width: 95%;
    gap: $card-gap;
    grid-template-columns: repeat(auto-fit, minmax($min-card-width, 0.95fr));  
    grid-auto-rows: auto;
    align-content: start;
    justify-content: center;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;

    &.singleCard {
        width: 50%;
        height: 100%;
        padding: 20px;
        overflow-y: hidden;
    }

        &::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        
        &:hover {
            background: $foreground-color-global;
        }
    }
}

// Mobile Viewport
@media screen and (max-width: $smartphone-threshold-max-width) {
    .searchResultsBoard {
        margin-top: 0px;
    }
    .foundBlogPostsContainer {
        &.singleCard {
            width: 100%;
        }
    }
}
