@use '../variables.scss' as *;

$button-border-radius: 12px;

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border-radius: $button-border-radius;
  border: 2px solid transparent; // Transparente Umrandung f체r den Glow-Effekt
  cursor: pointer;

    &:hover {
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        background-color: $third-color-global;

        // Mehrschichtiger Glow-Effekt f체r mehr Tiefe
        box-shadow: 
            0 0 20px rgba($third-color-global, 0.6),
            0 0 40px rgba($third-color-global, 0.4),
            0 0 60px rgba($third-color-global, 0.2);
        
        // Leichte Skalierung f체r zus채tzlichen visuellen Effekt
        transform: scale(1.05);
    }
    
    &:active {
        transform: scale(0.9); // Leichte Verkleinerung bei Klick
    }
}
