@use '../variables.module.scss' as *;

.travelMapContainer{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.imageContainer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: auto; // Nur horizontal scrollen erlauben
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.travelMapImage{
  display: block;
  height: auto;
  width: 100%;
  min-width: 1024px;    // Minimale Breite des Bildes
  object-fit: contain;  // Verhindert Verzerrung
}

@mixin vertical-margins {
  margin-top: $root-page-gap;
  margin-bottom: $root-page-gap;
}

.travelMapContainer {
  @media (max-width: 1024px), (min-width: 1920px) {
    @include vertical-margins;
  }
}