@use '../variables.module.scss' as *;

.travelMapContainer{
    width: 100%;
    height: $main-content-height;
    overflow: hidden;
}

.imageContainer{
    position: relative;
    width: 100%;
    height: $main-content-height;
    overflow-x: auto; // Nur horizontal scrollen erlauben
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.travelMapImage{
  display: block;
  height: calc(#{$main-content-height} - #{$font-size-h1} - #{$margin-top-h1}) ;
  width: 100%;
  min-width: 1024px; // Beispiel: Bild ist mindestens 600px breit
  object-fit: contain; // Verhindert Verzerrung
}